:root {
  --magenta: #FF5A5F;
  --medium-gray: #484848;
  --dark-gray: #1F1F1F;
  --black: #040404;
  --light-gray: #ccc;
  --white: #FFF;
}

/* layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--white);
  background-color: var(--dark-gray);
}

h1, h2, h3, h4, h5 {
  margin: 1em 0;
}

hr {
  border: none;
  height: 2px;
  color:var(--white); 
  background-color:var(--white);
}

button {
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 1rem;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: var(--black);
  transition: background-color 0.2s;
}

button:hover,
button:focus {
  outline: none;
  background-color: var(--medium-gray);
}

/* grid wrapper */
.app-container {}

/* side bar */
.side-bar {
  background-color: var(--black);
  padding: 0.75rem;
}

.side-bar .logo {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.side-bar .logo span {
  margin-right: 0.5rem;
  /* TIL you can colorize emoji */
  color: transparent;  
  text-shadow: 0 0 0 var(--magenta); 
}

/* search */
.search {}

/* top menu */
.menu {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 1rem;
}

.menu button {
  padding: 0.2rem;
  border-radius: 2rem;
  font-weight: 600;
}

.menu .profile-logo {
  margin-right: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--medium-gray);
  color: transparent;  
  text-shadow: 0 0 0 var(--magenta); 
}

.menu .profile-menu {
  margin-right: 0.5rem;
}

/* main area */
main {
  padding: 1rem;
}

/* albums */
.albums {}

/* album cards */
.card {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--medium-gray);
  padding: 0.75rem;
  border-radius: 0.5rem;
  min-width: 0;
}

.card img {
	width: 100%;
}

.card .details {
  margin: 0.5rem 0;
}

.card .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  line-height: 1.5rem;
}

.card .image {
  position: relative;
}

.card .image .library {
  cursor: pointer;
  font-size: 5rem;
  padding: 0;
  position: absolute;
  margin-top: -3.5rem;
  top: 50%;
  margin-left: -2.5rem;
  left: 50%; 
  color: var(--magenta);
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s;
}

.card .image:hover .library {
  opacity: 0.8;
}

.card .image .library:focus,
.card .image .library:hover {
  opacity: 1;
}

/* Genre picker */
.genre-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genre-picker span {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0.5rem;
  padding: 0.25rem;
  color: var(--light-gray);
  cursor: pointer;
  transition: color 0.2s;
}

.genre-picker span:hover {
  color: var(--white);
}

.genre-picker span.active {
  color: var(--white);
  border-bottom: 3px solid var(--magenta);
}

/* forms */
form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 0.8rem;
}

form input, 
form textarea, 
form select {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
  border: none;
  font-weight: bold;
  color: var(--white);
  background-color: var(--medium-gray);
  transition: all 0.3s;
}

form input:focus, 
form textarea:focus, 
form select:focus {
  outline: none;
  background-color: rgba(255, 90, 95, 0.9);
}

/* responsiveness */
@media screen and (min-width: 640px) {
  /* grid wrapper */
  .app-container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "side-bar main"
  }

  /* side bar */
  .side-bar {
    grid-area: side-bar;
    width: 250px;
    background-color: var(--black);
    padding: 0.75rem;
  }

  /* top menu */
  .menu {
    grid-area: main;
    z-index: 1;
  }

  /* main area */
  main {
    grid-area: main;
    width: 100%;
    margin-top: 50px;
  }

  .albums {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }

  .card {
      flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 900px) {
  .card {
      flex: 0 1 calc(25% - 1em);
  }
}
