/* css variables to help with light/dark mode theming */
:root {
  --bg-color: rgb(255, 255, 255);
  --font-color: rgb(36, 36, 36);
  --theme-primary: rgb(255, 90, 95);
  --shadow: rgba(0,0,0,0.25);
}

body.dark-mode {
  --bg-color: rgb(26, 26, 26);
  --font-color: rgb(218, 218, 218);
  --theme-primary: rgb(91,13,232);
  --shadow: rgba(60, 60, 60, 0.75);
}

/* layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--font-color);
  background: var(--bg-color);
  transition: all 0.3s;
}

h1, h2, h3, h4 {
  margin: 0.5em 0;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

button {
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  transition: all 0.2s;
}

button:focus,
button:hover {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 4px;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.18) 1px -2px 4px;
}

/* NavBar */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  color: var(--theme-primary);
  box-shadow: 2px 2px 4px -1px var(--shadow);
}

.toggle-switch {
  margin: 0.5rem;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  position: relative ;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: var(--theme-primary);
  border-radius: 20px;
}

.toggle-switch label::after {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  line-height: 20px;
  padding-left: 2px;
  border-radius: 50%;
  background-color: var(--font-color);
  top: 1px;
  left: 0;
  transition: all 0.3s;
}

.toggle-switch input:checked + label::after {
  left: 20px; 
}

.toggle-switch input:checked + label {
  background-color: var(--theme-primary);
}

/* layout */
main {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main section {
  width: 100%;
}

/* ListingsContainer */
#listings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
}

/* ListingsCard */
.card {
  flex: 0 1 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: var(--shadow) 0px 0px 4px;
  animation: enter 0.25s ease-out;
}

@keyframes enter {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.card .details {
  padding: 0.25rem 0.5rem;
}

.card .image {
  position: relative;
}

.card .image img {
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.card .btn-left,
.card .btn-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 0;
  margin: 0.5rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  color: var(--theme-primary);
  font-size: 1.25rem;
  opacity: 0;
}

.btn-right {
  right: 0;
}

.btn-left {
  left: 0;
}

.card:hover .btn-left,
.card:hover .btn-right {
  opacity: 0.7;
} 

.card .btn-left:hover,
.card .btn-right:hover {
  opacity: 1;
} 

.card .info {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.rating {
  color: var(--theme-primary);
}

.card .title {
  margin-bottom: 0.5rem;
}


/* Forms */
.form-container {
  margin: 1rem auto;
  max-width: 500px;
  padding: 1rem;
  box-shadow: var(--shadow) 0px 0px 4px;
  border-radius: 10px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form label {
  font-size: 1rem;
}

.form-container form input, 
.form-container form textarea, 
.form-container form select {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  font-weight: bold;
  border: none;
  background: white;
  box-shadow: var(--shadow) 0px 1px 2px;
}

.form-container form input:focus, 
.form-container form textarea:focus, 
.form-container form select:focus {
  outline: none;
  box-shadow: var(--shadow) 0px 2px 4px;
}

.form-container form input[type="submit"] {
  width: 30%;
  font-weight: 500;
  background-color: var(--theme-primary);
  padding: 0.5rem;
  border-radius: 6px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
}

.form-container form input[type="submit"]:focus,
.form-container form input[type="submit"]:active {
  outline: none;
  transform: scale(0.95);
}

/* responsiveness */
@media (min-width: 768px) { 
  .card {
    flex: 0 1 calc(50% - 2rem);
    margin: 1rem;
  }
}

@media (min-width: 1024px) {
  main section {
    flex: 1;
  }
}

@media (min-width: 1280px) {
  header,
  main {
    padding: 0.75rem 8rem;
  }
}


